<html>
      <head></head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="form.css" />
  </head>
  <body>
    <form method="POST" action="/new">
      <h3>New Message</h3>
      <label for="author">Author</label>
      <input name="author" id="author" type="text" />
      <label for="message">Message</label>
      <textarea name="message" id="message" rows="5" cols="30"></textarea>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
